
/* Color Palatte */
:root {
    --clr-dark: #474141;
    --clr-light: #f3e9b2;
    --clr-accent: #b13d58;
    --clr-accent-dark: #68c6b5;
    --clr-accent-light: #db8235;
}

/* Typography */

h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    margin: auto;
}
h3 {
    margin: auto;
    text-align: center;
    padding: .5em 0;
    font-family: sans-serif;
}
button {
    text-transform: uppercase;
    font-family: monospace;
    margin: 1em auto;
    padding: 1em;
    display: block;
    border-radius: 10px;
    color: white;
    background-color: var(--clr-accent);
}

a {
    text-decoration: none;
    color: var(--clr-accent);
    font-family: monospace;
}
/* Page Layout */

.title {
    display: block;
    width: 400px;
    border: 3px solid var(--clr-dark);
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    margin: auto;

}

.footer {
    display: block;
    width: 400px;
    margin: .5em auto;
    border: 3px solid var(--clr-dark);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    font-size: 1.2em;
}

.grid {
    border: 3px solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
    margin: 1em auto;
    box-shadow: 3px 3px 5px black;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: var(--clr-accent-light);
}

.starting-block {
    background-color: var(--clr-accent-light);
}

body {
    background: var(--clr-light);
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: grey;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: blue;
}

.frog {
    background-color: green;
}
