/* Color vars*/
:root {
    --clr-dark: #4a463f;
    --clr-light: #d66d57;
    --clr-accent: #687558;
    --clr-accent-light: #a02f2d;
    --clr-accent-dark: #607c84;
}

/* Typography */
h1 {
    font-size: 2.5em;
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}

h3 #result {
    font-size: 2em;
    background-color: var(--clr-accent-light);
    color: var(--clr-accent-dark);
}

h3 #current-player {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--clr-accent-dark);
    background: var(--clr-dark);
}

a {
    color: var(--clr-dark);
    font-size: 1.2em;
}

/* Layout */
body {
    background: var(--clr-light);
}

#info {
    width: 375px;
    margin: 1em auto;
    border: 2px solid var(--clr-accent-dark);
    padding: .2em;
}

#title {
    display: flex;
    width: 350px;
    margin: .2em auto;
}

#turn, #win {
    display: flex;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

.grid {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
    background: white;
    margin: auto;
}

.grid div {
    height: 20px;
    width: 20px;
}

#footer {
    background-color: var(--clr-accent-light);
    margin: 1em auto;
    padding: 1em;
}
.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: blue;
    border-radius: 10px;
}
