/* Text style */

#titlebar {
    text-align: center;
    max-width: 1000px;
    padding: 1em;
    margin: 1em;
    align-items: center;
}

#titlebar h1 {
    font-size: 48px;
    font-family: sans-serif;
}

#score {
    font-family: monospace;
    font-size: 1em;
    font-weight: 100;
    text-shadow: 1px 1px 2px lightgrey;
    padding: 1em;
}

#result {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 3px 3px 3px lightgrey;
    padding: 1em;
}

a {
    color: #black;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    border: .1em solid #543832;
    padding: 1em;
}

/* Layout */

body {
    background-color: #a4b5d0;
}

#footer {
    display: flex;
    padding: 2em;
    max-width: 422px;
    margin: auto;
    border: .1em solid #543832;
    box-shadow: 5px 5px 5px #543832;
    justify-content: center;
    background: #c3afbe;
}

#status {
    display: flex;
    max-width: 422px;
    padding: 1em;
    margin: auto;
    background-color: #c3afbe;
    line-height: 1.5;
    border: .1em solid #543832;
    box-shadow: 5px 5px 5px #543832;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 422px;
    box-decoration-break: clone;
    padding: 1em;
    margin: auto;
}

img {
    padding: 2px;
}
