/* Color palatte */
:root {
    --clr-dark: #272C51;
    --clr-light: #bbc088;
    --clr-accent: #385e68;
    --clr-accent-light: #9586ca;
    --clr-accent-dark: #4e75a1;
}

body {
    background-color: var(--clr-light);
}

/* Snake Game Styling */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 2px solid var(--clr-dark);
}

.grid div{
    width: 20px;
    height: 20px;
}

.snake {
    background-color: var(--clr-accent-light);
}

.apple {
    background-color: var(--clr-accent);
}
